registry=http://192.168.1.123:18081/repository/npm-group/
auto-install-peers=true
resolution-mode=highest
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*umi*
